.list {
	position: relative;

	font-weight: 600;

	span {
		position: relative;
	}

	li {
		padding-top: 10px;
		&:first-child {
			padding-top: 30px;
		}
	}

	&.open {
		color: var(--accent);
		height: 100%;
		max-height: 100%;
	}
}

.img {
	display: none;
	position: absolute;
	top: 50%;
	right: 16px;

	transform: translateY(-50%);
}

@media screen and (max-width: 425px) {
	.list {
		max-height: 51px;
		overflow: hidden;
		padding: 16px;
		border-bottom: 1px solid #dedfe0;
	}

	.img {
		display: block;
	}
}
