.stats {
	white-space: nowrap;
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 6px;
	display: flex;
	align-items: center;
	gap: 0 20px;

	background-color: #121b30;
	font-size: 14px;
	line-height: 17px;

	&__days {
		color: var(--white);
		font-weight: 600;
	}

	&__count {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		gap: 0 40px;
		align-items: center;
		color: var(--gray-light);

		&_item {
			display: flex;
			align-items: center;
			gap: 0 16px;

			span {
				color: var(--accent);
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.stats {
		font-size: 12px;
	}
}
