.section {
	&__title {
		margin-bottom: 32px;
	}
}

.news {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 32px;

	&__item {
		width: 31%;
		min-width: 304px;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		&_img {
			margin-bottom: 16px;
			max-height: 251px;
			object-fit: cover;
		}

		&_title {
			margin-top: 10px;
		}
	}
}

.button {
	display: none;
}

@media screen and (max-width: 575px) {
	.section {
		padding: 0 24px;
	}
	.news {
		overflow: hidden;
		max-height: 1070px;
		margin-bottom: 32px;

		&__item {
			width: 100%;

			&_title {
				font-size: 22px;
			}
		}
	}

	.button {
		display: block;
	}
}
