@import '../../../mixins/aside.scss';

.aside {
	@include aside;

	&__header {
		margin-bottom: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.article {
	height: 225px !important;
	padding: 24px 0;
	border-bottom: 1px solid var(--gray-light);
	cursor: pointer;

	&__author {
		display: flex;
		align-items: center;
		gap: 0 16px;

		&_info {
			display: flex;
			flex-direction: column;

			span {
				margin-top: 5px;
				font-weight: 400;
				font-size: 12px;
				line-height: 140%;
				text-transform: uppercase;
				color: var(--gray);
			}
		}
	}

	&__title {
		margin: 16px 0 12px;
		max-height: 42px;
		overflow: hidden;
	}
}

@media screen and (max-width: 991px) {
	.aside {
		padding: 0;
		width: 100%;
		background-color: transparent;

		&__header {
			padding: 0 12px;
			margin-bottom: 24px;
		}

		&__content {
			margin-bottom: 0;
			display: flex;
			gap: 0 24px;
		}

		.article {
			height: 200px !important;
			padding: 16px;
			min-width: 304px;
			width: 304px;
			border-bottom: none;
			background-color: var(--white);
			border-radius: var(--br-M);
		}

		button {
			display: none;
		}
	}
}
