@import '../../../mixins/container.scss';

.nav {
	@include container;

	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	border: 1px solid #dedfe0;

	&__leftBar {
		display: flex;
		flex-grow: 1;
		align-items: center;
		gap: 0 40px;

		.menu {
			padding: 8px 12px;
			border-radius: var(--br-S);
			color: var(--black);
			background-color: var(--mainBg);
			cursor: pointer;

			&__img {
				margin-right: 16px;
			}

			&__title {
				font-weight: 500;
			}

			&:hover .menu__title {
				color: var(--accent);
			}
		}

		.cities {
			display: flex;
			gap: 0 32px;

			a {
				color: var(--black);
				font-size: 14px;
				font-weight: 600;

				&:hover {
					color: var(--accent);
				}
			}
		}
	}

	&__rightBar {
		display: flex;
		align-items: center;
		gap: 0 38px;

		.form {
			position: relative;
			input {
				padding: 11px 16px 11px 46px;
				background-color: var(--mainBg);
				border-radius: 68px;
				border: none;

				&::placeholder {
					color: #b0b0b0;
				}

				&:focus {
					outline-color: var(--accent);
				}
			}

			img {
				position: absolute;
				left: 16px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.social {
			display: flex;
			gap: 0 32px;
			img {
				cursor: pointer;
			}
		}

		.divider {
			width: 1px;
			height: 16px;
			background-color: #8a8a8a;
		}

		.languages {
			display: flex;
			gap: 0 16px;
			font-weight: 500;
			font-size: 14px;
			color: #b0b0b0;

			span {
				cursor: pointer;
			}

			span.active {
				color: var(--black);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.nav {
		&__rightBar {
			.social {
				gap: 0 12px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.nav {
		&__leftBar {
			.cities {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.nav {
		&__rightBar {
			.social,
			.divider {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.nav {
		min-height: 65px;
		padding-top: 16px;
		padding-bottom: 16px;

		&__rightBar {
			min-height: 33px;

			.form {
				input {
					padding: 0 0 0 0;
					width: 0;
					background-color: transparent;
					transition: all 0.25s ease-out;
				}

				img {
					left: 8px;
				}

				&.visible {
					input {
						padding: 8px 16px 8px 46px;
						width: 200px;
						background-color: var(--mainBg);
					}

					img {
						left: 16px;
					}
				}
			}

			.languages {
				flex-direction: column;
				max-height: 14px;
				overflow: hidden;
			}
		}

		&__leftBar {
			.menu {
				padding: 5px 8px;
				&__title {
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 401px) {
	.nav {
		&__rightBar {
			.form {
				&.visible {
					input {
						width: 115px;
					}
				}
			}
		}
	}
}
