.promo {
	padding: 24px 32px 32px;
	background-color: var(--white);

	&__head {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		margin-bottom: 24px;
		display: flex;
		flex-wrap: wrap;
		gap: 16px 32px;

		h2 {
			font-weight: 600;
		}

		&_info {
			p {
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				gap: 0 16px;
			}
		}
	}

	&__cards {
		display: flex;
		gap: 0 32px;

		&_item {
			padding: 16px;
			width: 304px;
			min-width: 304px;
			background: #f7f7f7;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			gap: 10px 0;
			cursor: pointer;

			&:hover {
				box-shadow: 1px 1px 2px var(--accent);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.promo {
		&__cards {
			display: none;
		}
	}
}

@media screen and (max-width: 991px) {
	.promo {
		&__inner {
			&_img {
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.promo {
		padding: 24px 16px 32px;
		&__inner {
			&_title {
				font-size: 22px;
			}
		}
	}
}
