.regions {
	&__head {
		max-width: 100%;
		margin-bottom: 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__tabs {
		display: none;
		margin-bottom: 24px;
	}

	.swiper {
		padding: 0 16px 0 0;
	}
}

@media screen and (max-width: 991px) {
	.regions {
		&__head {
			margin-bottom: 24px;
		}

		&__tabs {
			display: flex;
		}
	}
}

@media screen and (max-width: 575px) {
	.regions {
		padding-left: 24px;

		&__head {
			padding-right: 24px;
		}
	}
}
