.section {
	padding-top: 64px;
	padding-bottom: 32px;
}

.content {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 56px 0;
}

@media screen and (max-width: 575px) {
	.section {
		padding-top: 0;
	}
}
