.section {
	padding-top: 64px;
	padding-bottom: 32px;
}

.content {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 56px 0;
}

@media screen and (max-width: 425px) {
	.content {
		margin-top: 1345px;
	}
}
