.card {
	padding: 16px 16px 32px;
	width: 315px;
	background-color: var(--white);
	border-radius: 12px;

	&__title {
		margin-bottom: 24px;
	}

	&__inner {
		height: 547px;
		overflow: hidden;
		margin-bottom: 67px;

		&_day {
			margin-bottom: 24px;
		}
	}

	&__footer {
		display: flex;
		align-items: center;

		&_img {
			margin-left: 16px;
			transition: all 0.2s ease-in;
		}

		&:hover .card__footer_title {
			color: var(--accent);
			text-decoration: underline;
		}
		&:hover .card__footer_img {
			transform: translateX(10px);
		}
	}

	.article {
		&__title {
			max-height: 110px;
			overflow: hidden;
			padding: 16px 0;
			border-bottom: 1px solid var(--gray-light);
			cursor: pointer;

			span {
				margin-right: 10px;
			}
		}
	}
}
