@import '../../mixins/container.scss';
@import '../../mixins/button.scss';

.section {
	@include container;

	padding-top: 56px;
	padding-bottom: 112px;
	background: linear-gradient(
			180deg,
			rgba(21, 35, 56, 0.5) 0%,
			rgba(24, 40, 64, 0.95) 100%
		),
		url(/images/videos/1.jpg) center center/cover no-repeat;

	&__inner {
		display: flex;
		gap: 0 32px;
	}

	&__head {
		margin-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_title {
			color: var(--white);
		}
	}
}

.main_card {
	display: flex;
	flex-direction: column;
	width: 640px;
	max-width: 100%;
	cursor: pointer;

	&_title {
		font-weight: 600 !important;
		color: var(--white) !important;
	}

	&_date {
		margin: 32px 0 24px;
		color: var(--white) !important;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	&__item {
		width: 47%;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		&_date {
			margin: 16px 0 8px;
			color: var(--white) !important;
		}

		&_title {
			color: var(--white) !important;
		}
	}
}

.link {
	display: flex;
	align-items: center;

	&__title {
		color: var(--white);
	}

	&__img {
		margin-left: 16px;
		transition: all 0.2s ease-in;
	}

	&:hover .link__title {
		color: var(--accent);
		text-decoration: underline;
	}
	&:hover .link__img {
		transform: translateX(10px);
	}
}

.button {
	@include button;

	display: none;
	width: 100%;
	color: var(--white);
	border-color: var(--white);
}

@media screen and (max-width: 1400px) {
	.section {
		&__inner {
			flex-wrap: wrap;
			gap: 32px 12px;
		}
	}

	.cards {
		&__item {
			width: 304px;
		}
	}
}

@media screen and (max-width: 991px) {
	.section {
		&__inner {
			justify-content: center;
		}
	}

	.cards {
		justify-content: center;
	}
}

@media screen and (max-width: 575px) {
	.main_card {
		&_date {
			margin: 16px 0 8px;
		}
		&_title {
			font-size: 22px;
		}
	}

	.cards {
		&__item {
			width: 100%;
			&_title {
				font-size: 22px;
			}
		}
	}

	.button {
		display: block;
	}
}
