.aside {
	padding: 16px 16px 24px;
	width: 304px;
	min-width: 304px;
	background-color: var(--white);
	border-radius: 12px;

	&__header {
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_archive {
			font-weight: 600;
			font-size: 14px;
			line-height: 140%;
			text-decoration: underline;
		}
	}

	&__tabs {
		margin-bottom: 8px;
		list-style: none;
		display: flex;
		gap: 0 16px;
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		color: #919191;

		li {
			padding: 4px 8px;
			border-radius: 4px;
			cursor: pointer;
			transition: all 0.15s linear;

			&.active {
				background: var(--accent-light);
				color: var(--accent);
			}

			&:hover {
				color: var(--accent);
			}
		}
	}

	&__content {
		.article {
			padding: 24px 0;
			border-bottom: 1px solid var(--gray-light);
			cursor: pointer;

			&__title {
				span {
					margin-right: 8px;
				}
			}
		}
	}
}
