@import '../../../mixins/aside.scss';

.aside {
	@include aside;

	&__header {
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_archive {
			font-weight: 600;
			font-size: 14px;
			line-height: 140%;
			text-decoration: underline;
		}
	}

	&__content {
		margin-bottom: 32px;

		.article {
			padding: 24px 0;
			border-bottom: 1px solid var(--gray-light);
			cursor: pointer;

			&__title {
				span {
					margin-right: 8px;
				}

				&.bold {
					font-weight: 600;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.aside {
		width: 100%;
	}
}

@media screen and (max-width: 575px) {
	.aside {
		padding: 40px 24px;

		&__content {
			.article:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
}
