.h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 130%;
	color: var(--var);
}

.h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: var(--var);
}

.h4 {
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	color: var(--mainBlack);
}

.h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: var(--mainBlack);
}

@media screen and (max-width: 575px) {
	.h2 {
		font-size: 30px;
	}
	.h3 {
		font-size: 22px;
	}
}
