.nav {
	padding-top: 12px;
	padding-bottom: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 12px;
	background-color: var(--white);
	overflow: hidden;

	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--mainBlack);
	text-transform: uppercase;

	&__articles {
		display: flex;
		align-items: center;
		gap: 0 8px;

		&_hot {
			display: flex;
			align-items: center;
			gap: 0 8px;
		}

		&_links {
			height: 21px;
			display: flex;
			align-items: end;
			gap: 0 40px;

			.active {
				color: var(--accent);
			}
		}
	}

	&__live {
		display: flex;
		align-items: center;
		gap: 0 12px;
	}
}

@media screen and (max-width: 991px) {
	.nav {
		&__articles {
			&_links {
				gap: 0 24px;
			}
		}
	}
}
