@import '../../../mixins/container.scss';

.nav {
	padding: 12px 64px 16px;
	display: flex;
	background-color: var(--white);

	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--mainBlack);
	text-transform: uppercase;

	&__links {
		height: 21px;
		display: flex;
		align-items: end;
	}

	&__live {
		display: flex;
		align-items: center;
		gap: 0 12px;
	}
}

@media screen and (max-width: 991px) {
	.nav {
		&__live {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.nav {
		padding: 12px 0px 16px 16px;
	}
}
