.footer {
	padding: 56px 0 62px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 66px 0;
	}

	.title {
		font-weight: 600;
	}

	ul {
		display: flex;
		flex-direction: column;

		li {
			font-weight: 400;
			color: #515151;
		}
	}
}

.cols__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 80px;

	.col {
		display: flex;
		flex-direction: column;
		gap: 24px 0;

		&.links {
			font-weight: 600;
			color: var(--black);
			text-transform: uppercase;
		}
	}
}

.social {
	&__inner {
		margin-top: 32px;
		display: flex;
		flex-wrap: wrap;
		gap: 12px 32px;
	}

	&__item {
		display: flex;
		align-items: flex-end;
		gap: 0 12px;
	}
}

@media screen and (max-width: 1270px) {
	.cols__inner {
		gap: 60px 24px;
	}
}

@media screen and (max-width: 991px) {
	.cols__inner {
		justify-content: space-around;
	}
}

@media screen and (max-width: 425px) {
	.footer {
		padding: 8px 0 62px;
		&__inner {
			gap: 0;
		}

		.title {
			padding: 16px;
			border-bottom: 1px solid #dedfe0;
		}
	}

	.cols__inner {
		gap: 0;

		.col {
			width: 100%;
			gap: 0;

			&.links {
				margin: 40px 0;
				text-align: center;
				gap: 24px;
			}
		}
	}

	.social {
		&__inner {
			gap: 24px 32px;
		}
		&__item {
			width: 40%;
		}
	}
}
