@import url('/fonts/TTSevers/stylesheet.scss');

:root {
	--accent: #ff7534;
	--white: #ffffff;
	--gray-light: #ebebeb;
	--gray: #707070;
	--mainBlack: #182840;
	--black: #2d2d2d;
	--mainBg: #f6f6f6;

	font-family: TT Severs, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: var(--mainBlack);
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	background-color: var(--mainBg);
}

a {
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	transition: all 0.15s linear;
}

a:hover {
	color: var(--accent);
}

button {
	padding: 0;
	border: none;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
}

menu,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.container {
	padding-left: 64px;
	padding-right: 64px;
}
