@import url('/fonts/TTSevers/stylesheet.css');

:root {
	--accent: #ff7534;
	--white: #ffffff;
	--mainBlack: #182840;
	--black: #2d2d2d;
	--mainBg: #f6f6f6;

	font-family: TT Severs, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: var(--mainBlack);
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-width: 320px;
	background-color: var(--mainBg);
}

a {
	font-weight: 400;
	color: var(--mainBlack);
	text-decoration: inherit;
}
a:hover {
	color: var(--accent);
}

button {
	padding: 0;
	border: none;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
}
menu {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.container {
	padding-left: 64px;
	padding-right: 64px;
}
