@import '../mixins/container.scss';

.layout {
	@include container;

	position: relative;
	display: flex;
	gap: 40px 32px;
}

@media screen and (max-width: 991px) {
	.layout {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 575px) {
	.layout {
		padding-left: 0;
		padding-right: 0;
	}
}
